/* Basic styling for the body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  color: #333;
}

/* Main content styling */
main {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

p {
  position: relative;
  width: 30%;
  flex: 2;
  font-size: 1.2rem; 
  line-height: 1.6; 
  margin: 0 auto; 
  padding: 0 2rem; 
  background-color: white;

}
/* Styling for vertical, blue, screen-filling buttons */
main a {
  display: block;
  background-color: blue;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: xx-large;
  padding: 3rem;
  margin: 2rem 0;
  box-sizing: border-box; 
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
}

main a:hover {
  transform: scale(1.1); 
  background-color: darkblue; 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}
h1 {
  font-size: 3rem;
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 1rem;
  }


.buttons {
  flex: 1;
  margin-right: 2rem;
}
