body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#username {
  font-weight: bold;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

footer p {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
